*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#box{
    height: 250px;
    width: 300px;
    background-color: aquamarine;
    margin: 50px;
    position: relative;
    overflow: hidden;

}
#box #bottom{
    height: 80px; 
    width: 300px; 
    background:linear-gradient(transparent,rgba(0, 0, 0, 0.692));
    position: absolute;
    bottom: -140px; 
    
}
#box:hover #bottom{
    bottom: 0px;

}